---
layout: default
---

<div class="home post-content">

    <h2>Basics</h2>
    <dl>
        <dt>Instructor</dt>
        <dd><a href="{{ site.instructor_url }}">{{ site.instructor }}</a></dd>

        <dt>Time and Location</dt>
        <dd>Burnham Hall 208, Monday, Wednesday and Friday, 12:00–1:40<dd>

        <dt>Book</dt>
        <dd>Benjamin J Evans, David Flanagan - Java in a Nutshell, 6th Edition</dd>

        <dt>Required hardware</dt>
        <dd>Every student must have a physical iClicker. The version does not matter as long as it is functional.</dd>

        <dt>Discussion</dt>
        <dd><a href="{{ site.piazza_url }}">Piazza</a></dd>

        <dt>Office Hours and Location</dt>
        <dd>
            2-4pm on Tuesdays and Fridays in SEO 1218, or
            <a href="mailto:{{ site.email }}">by appointment</a>.
        </dd>

        <dt>TA and Office Hours</dt>
        <dd>
            <a href="mailto:hhuynh20@uic.edu">Hoangminh Huynhnguyen</a>,
            Monday (2-4pm), Wednesday(2:30 - 4:30pm) in SEO 1318
        </dd>
    </dl>

    <h2>Description</h2>
    <p>
        The purpose of this course is to learn how to write non-trivial software,
        with an emphasis on modern design techniques and tools.  This includes
        topics like asynchronous programming, programming in teams, structuring
        applications to reuse code, testing and test-driven
        development, patterns, among others.
    </p>

    <p>
        Java will be used throughout the class.  No Java experience expected or
        required. Roughly the first half of the class will be learning the
        language, and the second half will be using it to learn and exercise
        software design principles and practices.
    </p>


  {{ content }}
</div>
