---
layout: default
---

<div class="home">

    <h1 class="page-heading">Home</h1>

    <h2>Basics</h2>
    <dl>
        <dt>Instructor</dt>
        <dd><a href="{{ site.instructor_url }}">{{ site.instructor }}</a></dd>

        <dt>Time and Location</dt>
        <dd>Burnham Hall 208, Monday, Wednesday and Friday, 12:00–1:40<dd>

        <dt>Book</dt>
        <dd>Benjamin J Evans, David Flanagan - Java in a Nutshell, 6th Edition (see note below)</dd>

        <dt>Discussion</dt>
        <dd><a href="piazza.com/uic/summer2017/cs342">Piazza</a></dd>

        <dt>Office Hours</dt>
        <dd>
            2-4pm on Wednesdays and Fridays (Location TBD) or
            <a href="{{ site.email }}">by appointment</a>.
        </dd>
    </dl>

    <h2>Description</h2>
    <p>
        The purpose of this course is to learn how to write non-trivial software,
        with an emphasis on modern design techniques and tools.  This includes
        topics like asynchronous programming, programming in teams, structuring
        applications to reuse code, testing and test-driven
        development, patterns, among others.
    </p>

    <p>
        Java will be used throughout the class.  No Java experience needed.
        Roughly the first half of the class will be learning the language,
        and the second half will be using it to learn and exercise software
        design principles and practices.
    </p>


    <h2>Course Notes</h2>
    <p>
        <strong>Attendance is required for all classes</strong>: There will
        be a large discussion component to the course, and I'll call on
        names from the roster at random to start discussion.  If your name
        is called and you're not in class, you'll loose participation points
        for the day.
    </p>

    <p>
        <strong>There will be lots of programming</strong>: About the 1/2
        to 2/3 of the course will be learning Java and how to use it well.
        The remaining part of the class will be about software design aspects
        that are not specific to Java. I expect there will be homework
        assignments once or twice a week.
    </p>

    <p>
        <strong>There will be lots of discussion</strong>: There will be lots
        of discussion, both in small groups and as an entire class. This
        will be part of the course grade. I will
        be calling on people randomly to discuss, so everyone will need
        to talk at times, and come to class prepared to do so. If you have
        language or other circumstances that will make this difficult,
        please let me know <em>in advance</em> and we'll work something out.
    </p>

    <p>
        <strong>Academic honesty</strong>: I take this very seriously. I will
        work very hard to catch people cheating on assignments and exams, and
        will do as much as I can to punish anyone acting dishonestly. This
        includes sharing work beyond what is allowed, cheating on exams, etc.
        Really, truly, don't try it.
    </p>


    <h2>About The Textbook / Readings</h2>
    <p>
        The text book is not required for this class.  I expect that you can get
        by doing independent reading about the topics I'll discuss in class.  There
        <em>will not</em> be pop-quizes or similar based on the readings.  If
        you're on a budget, you can skip the book and be fine, as long as your
        willing to look up the topics on your own.
    </p>

    <p>
        I'll announce the topics for the next class at least two days in
        advance, along with where in the book those topics are covered.  You
        will need to <em>either</em> read those parts of the book, or
        familiarize yourself with the same topics using other sources.
    </p>

    <p>
        Each class will begin with group discussion about the material.
        Being familiar enough with the material to discuss in class with
        your peers will be part of your grade.  Doing the readings,
        or otherwise familiarizing yourself with the topics in advance,
        will be worth between 10-20% of your grade.
    </p>


  {{ content }}
</div>
