.navbar {
  border-radius: 0;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-default {
  background-color: #141B4B;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  text-decoration: underline;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover {
  background-color: #F4524D;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.row {
  margin-bottom: 2em;
}

a:not([href]) {
  text-decoration: none;
}

a {
  color: #F4524D;
  text-decoration: underline;
}

a:hover {
  color: #141B4B;
}

.page-header img {
    width: 150px;
    display: inline;
}

@media (max-width: 768px) {
  .page-header small {
    display: block;
    clear: both;
  }

  ul, ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
  }
}

.pub-title:after {
  content: ". ";
}

.pub-title {
  text-transform: capitalize;
  display: block;
}

.authors, .pub-links {
  padding: 0;
  margin: 0;
}

.pub-links {
  display: inline;
}

#other-writing-container .authors {
  display: block;
}

#other-writing-container .pub-title {
  display: inline-block;
}

#other-writing-container .venue {
  display: inline-block;
  clear: right;
}

#other-writing-container .description {
  display: block;
  clear: both;
}

.pub-links a {
  white-space: pre;
}

.authors li, .pub-links li {
  display: inline;
}

.authors li:after, .pub-links li:after {
  content: ", ";
}

.pub-links li:last-child:after {
  content: "";
}

.authors li:nth-last-child(2):after {
  font-weight: normal;
  content: " and ";
}

.authors li:last-child:after {
  content: ". ";
}

.pub-link {
  margin-right: .5em;
}

.pub-link a {
  color: white;
  text-decoration: none;
}

.pub-link a:hover {
  text-decoration: underline;
}

.publications li,
.teaching li,
.item-pairs li {
  margin-bottom: 1em;
}

#press-container .publications li .date:before,
#press-container .publications li .pub-type:before,
#other-writing-container .publications li .date:before {
  content: ", ";
}

.pub-type {
  text-transform: capitalize;
}

.pub-type:after {
  content: ". ";
}

.item-pairs .item-pair-label {
  display: block;
}

.item-pairs .item-pair-label:after {
  content: ".";
}

.teaching-period {
  display: block;
}

h2 > a {
  color: black;
  cursor: default;
}

h2 > a:hover {
  text-decoration: underline;
  color: black;
}

code {
  color: #468847;
  background-color: #f0f0f0;
}

.me {
  font-weight: bold;
}

.publications .venue > a ~ .year::before,
.publications .venue > span ~ .year::before,
.publications .venue > abbr ~ .year::before {
  content: " ";
}

#publications-and-journals .venue::after {
  content: " ";
}