h2 {
    margin-top: 2.8em;
    border-bottom: 1px dashed #ccc;
}

dt {
    font-weight: bold;
}

dt:after {
    content: ": ";
}

dd {
    margin-bottom: 1em;
}

nav ul {
    margin-left: 0;
    padding-left: 0;
}

nav li {
    display: inline;
}

nav li:after {
    content: " - ";
}

nav li:last-child:after {
    content: "";
}
